:root {
  --category-width: 25rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

h4 {
  font-family: "Arvo", sans-serif;
  font-weight: 400;
  color: #006080;
  font-size: 2.5rem;
}
.categories {
  max-width: 190rem;
  width: 80%;
  margin: auto;
}
.category {
  width: var(--category-width);
  height: calc(var(--category-width) * calc(387 / 423));
  /* margin: auto; */
  margin-top: 10rem;
  cursor: pointer;
  position: relative;
}
.category-title {
  text-align: center;
  background-color: #efefef;
  border-radius: 0 0 4.4rem 4.4rem;
  padding: 1.5rem 0;
  width: 100%;
  height: 20.16%;
  position: absolute;
  left: 0%;
  top: 100%;
  max-width: 42.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category img {
  border-radius: 4.4rem 4.4rem 0 0;
  width: 423px;
  height: 387px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.category:hover .category-title {
  background: linear-gradient(89.9deg, #5fcae8 0.12%, #ed65a0 99.95%);
}
.category:hover .category-title h4 {
  color: white;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "cat1 cat2 cat3 cat4"
    "cat5 cat6 cat7 cat8"
    ". . . ."
    ". . . .";
  justify-items: center;
  column-gap: 2rem;
  /* gap: 1rem; */
}

.category-1 {
  grid-area: cat1;
}
.category-2 {
  grid-area: cat2;
}

.category-3 {
  grid-area: cat3;
}
.category-4 {
  grid-area: cat4;
}

.category-5 {
  grid-area: cat5;
}
.category-6 {
  grid-area: cat6;
}
.category-7 {
  grid-area: cat7;
}
.category-8 {
  grid-area: cat8;
}

@media screen and (max-width: 1100px) {
  .categories {
    grid-template-areas:
      ". cat1 cat2 ."
      ". cat3 cat4 ."
      ". cat5 cat6 ."
      ". cat7 cat8 .";
    column-gap: 5rem;
  }
}
